@inherits LayoutComponentBase

<div class="page">
    <main>
        <!-- use padding-bottom of 5rem (equivalent to 80px) otherwise the navbar covers the bottom of the page content-->
        <article class="content px-4 pb-5">
            @Body
        </article>
    </main>

    <NavBar />

</div>
