<style>
    .custom-navbar {
        height: 50px; /* Adjust the height value as needed */
    }
</style>

<nav class="navbar navbar-expand bg-dark fixed-bottom justify-content-center custom-navbar" data-bs-theme="dark">
    <div id="navbarColor02">
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link d-flex flex-column align-items-center" href="/" Match="NavLinkMatch.All">
                    <i class="bi bi-house"></i>
                    <span>Home</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link d-flex flex-column align-items-center" href="monthly" Match="NavLinkMatch.Prefix">
                    <i class="bi bi-card-list"></i>
                    <span>Monthly</span>
                </NavLink>
            </li>
        </ul>
    </div>
</nav>