@page "/create"
@inject NavigationManager Navigator

<h3>CreateSubscription</h3>
<br/>
<p>returnUrl: @ReturnUrl</p>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string ReturnUrl { get; set; }

}
