@page "/"

@inject subtrack.DAL.SubtrackDbContext Db

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h6 class="pt-1">Monthly</h6>
        </div>
        <div class="col">
            <h5>@($"{_subscriptionsCost:C}")</h5>
        </div>
    </div>
</div>

<div class="container mt-3">
    @foreach (var sub in Db.Subscriptions)
    {
        <p>@sub.Name $@sub.Cost</p>
    }
</div>


@code{
    private decimal _subscriptionsCost = 0;
    private IEnumerable<Subscription> _subscriptions = new List<Subscription>();

    protected override void OnInitialized()
    {
        _subscriptions = Db.Subscriptions.ToList();
        _subscriptionsCost = SubscriptionsCalculator.GetTotalPrice(_subscriptions);
    }
}