@page "/"

@inject subtrack.DAL.SubtrackDbContext Db

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@foreach (var sub in Db.Subscriptions)
{
    <p>@sub.Name $@sub.Cost</p>
}
