@page "/monthly"
@using System.Globalization;

@inject subtrack.MAUI.Services.Abstractions.ISubscriptionService SubscriptionService
@inject subtrack.MAUI.Services.Abstractions.ISubscriptionsCalculator SubscriptionCalculator

<AddSubscriptionButton />

@foreach (var subMonth in _currentYearSubscriptionMonths)
{
    <SubscriptionMonthItem SubscriptionMonth=@subMonth />
}

<h6 class="text-center mt-3 mb-2">@(_currentYear + 1)</h6>

@foreach (var subMonth in _nextYearSubscriptionMonths)
{
    <SubscriptionMonthItem Year=@(_currentYear + 1) SubscriptionMonth=@subMonth />
}

@code {
    IEnumerable<Subscription> _subscriptions = new List<Subscription>();
    int _currentMonth = DateTime.Now.Month;
    int _currentYear = DateTime.Now.Year;

    IEnumerable<SubscriptionsMonthResponse> _currentYearSubscriptionMonths = null!;
    IEnumerable<SubscriptionsMonthResponse> _nextYearSubscriptionMonths = null!;

    protected override async Task OnInitializedAsync()
    {
        _subscriptions = (await SubscriptionService.GetAllAsync())
            .OrderBy(s => s.LastPayment.Day)
            .ToArray();

        (string Name, int Index)[] allMonths = DateTimeFormatInfo.CurrentInfo.MonthNames
            .Where(m => !string.IsNullOrWhiteSpace(m))
            .Select((name, index) => (name, index + 1))
            .ToArray();

        _currentYearSubscriptionMonths = GetSubscriptionsMonthResponses(allMonths, _currentYear, m => m.Index >= _currentMonth);
        _nextYearSubscriptionMonths = GetSubscriptionsMonthResponses(allMonths, _currentYear + 1, m => m.Index < _currentMonth);
    }

    private IEnumerable<SubscriptionsMonthResponse> GetSubscriptionsMonthResponses((string Name, int Index)[] months, int year, Func<(string Name, int Index), bool> monthSelector)
    {
        return months.Where(monthSelector).Select(m =>
        {
            var subscriptions = SubscriptionCalculator.GetSubscriptionListByMonth(_subscriptions, new DateTime(year,m.Index, 1));

            return new SubscriptionsMonthResponse
            {
                Subscriptions = subscriptions,
                Cost = SubscriptionCalculator.GetTotalCost(subscriptions),
                MonthName = m.Name

            };
        }).ToArray();
    }
}