@page "/settings"
<div class="d-flex justify-content-start mb-3">
    <div class="p-2">Import</div>
    <div class="p-2">
        <InputFile />
    </div>
</div>
<div class="d-flex justify-content-start mb-3">
    <div class="p-2">
        Last Export:
    </div>
    <div class="p-2">
        <button class="btn btn-secondary"><i class="bi bi-share-fill"></i></button>
    </div>
</div>

@code {

}
