@namespace Components
@inject NavigationManager NavigationManager

<div style="
        position: fixed;
        bottom: 95px;
        right: 18px;
        z-index: 100">
    <NavLink class="nav-link d-flex align-items-center" data-bs-theme="dark" href="@CreateSubscriptionUrl">
        <i class="bi bi-plus-circle larger-icon"></i>
    </NavLink>
    <style>
        .larger-icon{
            font-size: 30px;
        }
    </style>
</div>

@code {
    [Parameter]
    public string CreateSubscriptionUrl { get; set; }

    protected override void OnInitialized()
    {
        CreateSubscriptionUrl = $"/CreateSubscription?ReturnUrl={NavigationManager.Uri}";
    }
}