@namespace Components
<div style="
    ">
    <NavLink class="nav-link d-flex align-items-center" data-bs-theme="dark" href="/">
        <i class="bi bi-plus-circle larger-icon"></i>
    </NavLink>
    <style>
        .larger-icon{
            font-size: 20px;
        }
    </style>
</div>

@code {

}