@inject NavigationManager NavigationManager

<style>
    .smaller-button {
        padding: 2px 2px;
    }
</style>

<button class="btn btn-outline-primary smaller-button" @onclick="() => NavigationManager.NavigateTo(Url)">
    <i class="bi bi-arrow-left" style="font-size: 30px;"></i>
</button>

@code {
    [Parameter]
    public string Url { get; set; }
}
