@inject NavigationManager NavigationManager

<button class="btn btn-outline-primary --bs-btn-padding-x: 2px; --bs-btn-padding-y: 2px;" @onclick="() => NavigationManager.NavigateTo(Url)">
    <i class="bi bi-arrow-left" style="font-size: 30px;"></i>
</button>

@code {
    [Parameter]
    public string Url { get; set; }
}
